@media screen and (min-width: 600px) {
  h2 {
    background-color: lightcoral;
    font-size: larger;
  }

  p {
    color: aquamarine;
    background-color: lightyellow;
  }

  #style1 {
    width: 40%;
  }
  #style2 {
    width: 60%;
  }
}

@media screen and (min-width: 900px) {
  p {
    color: rebeccapurple;
    background-color: navajowhite;
  }
}
